<!doctype html>
<html>
<head>
    <title>login page for slasher</title>
    <link rel="stylesheet" type="text/css" href="/src/css/bootstrap.min.css">
    <script type="text/javascript" src="/src/js/jquery.js">
    </script>
    <script type="text/javascript" src="/src/js/jquery-ui.js">
    </script>
    <script type="text/javascript" src="/src/js/login.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/src/css/base.css">
</head>
<body>
    <div class="container login_container">
        <div class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="input-block-level" id="slasher_uname" placeholder="Email address">
            <input type="password" id="slasher_uname" class="input-block-level" placeholder="Password">
            <button id="slasher_login" class="btn btn-large btn-primary" type="submit">Sign in</button>
        </div>
    </div>
</body>
</html>
